*{
    margin: 0;
    padding: 0;
    background-color: greenyellow;
}

div{
    position: absolute;
    background-color: lightgrey;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 500px;
    top:20vh;
    left:35vw;
    border-radius:10%;
}

img{
    height: 150px;
    width:150px;
}

button{
    background-color: lightslategrey;
    color:white;
    border-color: gold;
    height: 50px;
    width: 300px;
    font-size: 25px;
}

ul, li{
    border-radius: 50%;
    height: 100px;
    background-color: lightgray;
    margin-left:50px;
    list-style-type: none;
}